    <div class="col s0 m3 hde-on-med-and-down">
      <%= render "layout.erb", :sidebar %>
    </div>
    <div class="col s12 m9">
      <div class="row">
        <% @list_co_sessions.each do |i| %>
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Coding session - <b><%= i[1]["session_id"] %></b></span>
              <p>Session: <b><%= i[1]["session_id"] %></b></p>
              <p>To invite another person share this url with them <b><%= "#{@url_base}session/#{i[1]['session_id']}" %></b> </p>
            </div>
            <div class="card-action">
              <a href="/session/<%= i[1]["session_id"] %>">Go to session</a>
              <a href="/delete_session/<%= i[1]["session_id"] %>">Delete session</a>
            </div>
          </div>
        </div>
        <% end %>

        <% if @list_co_sessions.length < 1 %>
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">No coding sessions yet!</span>
              <p>No sessions yet</p>
            </div>
            <div class="card-action">
              <a href="/new_session">Create a session</a>
            </div>
          </div>
        </div>
        <% end %>


      </div>

    </div>
  
  
  